:root {
  --primary: rgb(217, 201, 191);
  --secondary: rgb(255, 151, 81);
  --third: rgb(108, 102, 98);
  --font: rgb(29, 29, 29);
  --white: rgb(255, 255, 255);
  --hover: rgb(255, 204, 0);
}

body {
  background-color: var(--primary);
  margin: 0 auto;
}

nav {
  background-color: var(--font);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--secondary);
}

.nav-item:hover a {
  color: var(--hover);
}

.logo img {
  max-height: 7rem;
  margin: 1em;
  vertical-align: middle;
}

.warningNoJs{
  background-color: var(--font);
  color: var(--hover);
  padding: 0.3rem;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

.content a {
  color: var(--font);
}

.content a:hover {
  color: var(--secondary);
}

input[type="color"] {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
}

input[type="color"]:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
  }
}
